<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="../assets/Employer_Login.css">
</head>
<body>
    <h2 class="heading">Labour Management System</h2>
<!-- partial:index.partial.html -->
<div class="login-form">
    
  <form>
    <h3>Set Password</h3>
    <div class="content">
      <div class="input-field">
        <input type="password" placeholder="enter password" autocomplete="nope" required>
      </div>
      <div class="input-field">
        <input type="password" placeholder="confirm password" autocomplete="new-password" required>
      </div>
     <!-- <a href="#" class="link">Forgot Your Password?</a>-->
    </div>
    <div class="action">
        <button><a style="text-decoration-line: none; color: white;" href="/Employer_Login"></a>Sign in</button>
      <button><a style="text-decoration-line: none; color: white;" href="/Employer_Login">Set Password</a></button>
      
    </div>
  </form>
</div>
</body>
</html>