<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="../assets/Home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
    <title>Document</title>

</head>

<body>
    <div class="pos-f-t" style="position:sticky ;top:0cm;z-index: 92002;">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">E-Shram Portal</h5>
                <span class="text-muted">One Step towards Employment</span>

            </div>
        </div>
        <div class="head">
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#About_Us">Objectives</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#acts" style="transition-delay:2s;">Act and Rules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Schemes" style="transition-delay:2s;">Schemes</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/Post2">Posts</a>
                    </li>

                    <li class="nav-item dropdown" id="login">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/My_Profile2">My_Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Logout">Logout</a>
                        </div>
                    </li>
                    <div id="google_element"></div>

                    <script type="text/javascript">
                        function loadGoogleTranslate() {
                            new google.translate.TranslateElement("google_element");
                        }
                    </script>

                    <script type="text/javascript"
                        src="https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>

                </ul>


            </div>
        </nav>
    </div>
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../images/6.jpg" style="height: 700px;" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Unorganised Worker</h5>
                        <p>Dignity of Labour has to be our national duty.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../images/2.jpg" style="height: 700px;" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Unorganised Worker</h5>
                        <p>Dignity of Labour has to be our national duty.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../images/4.jpg" style="height: 700px;" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Unorganised Worker</h5>
                        <p>Dignity of Labour has to be our national duty.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="About_Us">
        <h2 class="about-heading">Objectives of eSHRAM Portal</h2>
        <div class="about-items">
            <ul class="about_content">
                <li class="objectives">
                    Creation of a centralized database of all unorganized workers (UWs) including Construction Workers,
                    Migrant
                    Workers, Gig and Platform workers, Street Vendors, Domestic Workers, Agriculture Workers, etc., to
                    be seeded
                    with Aadhaar.
                </li>
                <li>
                    Sharing of information in respect of registered unorganised workers with various stakeholders such
                    as
                    Ministries/ Departments/ Boards/ Agencies/ Organisations of the Central & State Governments through
                    APIs for
                    delivery of various social security and welfare schemes being administered by them.
                </li>
                <li>
                    Portability of the social security and welfare benefits to the migrant and construction workers.
                </li>
                <li>
                    Providing a comprehensive database to Central and State Governments for tackling any National Crises
                    like
                    COVID-19 in future.
                </li>
                <li>
                    To improve the implementation efficiency of the social security services for the unorganized workers
                </li>
            </ul>
            <img class="about-image" src="../images/5.jpg">
        </div>
    </div>
    <div id="acts">
        <div class="acts-rules">
            <h2 class="act-heading">Acts and Rules</h2>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <td>
                                S.No
                            </td>
                            <td>
                                Title
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td><span class="act">
                                    <h5>Unorganised Worker Social Security Act,2008</h5>
                                </span> 88% of the workforce of the country is engaged in unorganised sector and they
                                are not getting
                                adequate social security benefits. Few welfare schemes are being implemented by the
                                Central Government for
                                specific groups/sub-groups of unorganised workers such as beedi workers, cine workers,
                                building and
                                construction workers etc. </td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td><span class="act">
                                    <h5>The Inter-State Migrant Workmen (Regulation Of Employment And Conditions Of
                                        Service) Act 1979</h5>
                                </span>
                                This Act is applicable to establishments and contractor employing 5 or more inter state
                                workmen during any
                                day in last 12 months.This act has been sub synced in the occupational safety health on
                                working conditions
                            </td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td><span class="act">
                                    <h5>The Contract Labour(Regulation and Abolition) Act ,1970</h5>
                                </span> Contract labour refers to a person, who has been hired to work in a company
                                through a contractor
                                for a specific work and period. Companies hire contractors who, in turn, recruit these
                                workmen for
                                different jobs. In order to prevent the ill-treatment of workers in any establishment
                                and to ensure a
                                healthier working environment for them, the contract labour regulation and abolition act
                                was introduced in
                                1970.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer-1">
        <div class="main-footer widgets-dark typo-light">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget subscribe no-box">
                            <h5 class="widget-title">E-Shram<span></span></h5>
                            <p>Provide you with best match with minimum efforts </p>
                        </div>
                    </div>






                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Follow up<span></span></h5>
                            <a href="https://twitter.com/GovernmentIndia"> <i class="fa fa-facebook"> </i> </a>
                            <a href="https://twitter.com/GovernmentIndia"> <i class="fa fa-twitter"> </i> </a>
                            <a href="https://twitter.com/GovernmentIndia"> <i class="fa fa-youtube"> </i> </a>
                        </div>
                    </div>
                    <br>
                    <br>



                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>Copyright Design 2022. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>