#main{
    display: flex;
    flex: auto;
}
#side_bar{
    padding: 10px;
    background-color: rgba(0, 1, 0, 0.989);
    border: 1px rgb(253, 255, 254) solid;
    width: 40%;
    color: aliceblue;
    height: 520px;
    position: fixed;
}
.av_head{
    text-align: center;
   margin-bottom: 20px;
}
.available{
    padding: 5px;
    background-color: aliceblue;
    text-align: center;
    color: black;
    margin: 6px;
}
#chat_section{
    background-color: rgba(250, 235, 215, 0.637);
    position:relative;
    width: 100%;
}
.recieve{
    margin:0px 20px 5px 40px;
    background-color: rgb(8, 7, 17);
    width: max-content;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
}
.text_space{
    height: 493px;
}
.send{
    width: max-content;
    margin:0px 5px 5px 900px;
    background-color: rgb(8, 7, 17);
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.header{
    margin: 0px 0px 15px 0px;
    background-color: rgb(4, 4, 5);
    padding: 5px 5px 5px 15px;
    color: #f5f0f0;
    position: sticky;
}
.text_area{
margin-left: 80px;
width: 1065px;
border: black solid 1px;
}
.send_btn{
    margin-left: 10px;
    width: 100px;
    height: 45px;
    background-color: black;
    color: white;
    border-radius: 1px;
}
.input{
    display: flex;
    width: 1065px;
    position: fixed;
    bottom: 4px;
}